<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SYIL.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>4</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B74A4227199653D5E76B30EDA4F9B44F7DFFEDD1</string>
				<key>dateExpires</key>
				<string>26/03/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B74A4227199653D5E76B30EDA4F9B44F7DFFEDD1</string>
						<key>dateExpires</key>
						<string>26/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermesvm.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GU97M8A459</string>
						<key>name</key>
						<string>Frans Buikema</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>GU97M8A459.org.syil-for-dealers-ios.app</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>GU97M8A459</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>SYIL.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>01b16fe7-6eee-401e-9c9d-091bb02c5e09</string>
				<key>dateExpires</key>
				<string>26/03/27</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: org.syil-for-dealers-ios.app</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>GU97M8A459</string>
				<key>name</key>
				<string>Frans Buikema</string>
			</dict>
			<key>versionNumber</key>
			<string>1.2</string>
		</dict>
	</array>
</dict>
</plist>
